# user
build-*

# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/libtool
/ltmain.sh

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CTest artefacts
CTestTestfile.cmake


# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
CMakeLists.txt.user
Makefile.am.user

.*
!.gitignore
*~
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*


# Org-mode
.org-id-locations
*_archive
# SublimeText project files
*.sublime-workspace
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
xcode

# DUNE
/dune-*.pc
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.sub
/dependencies.m4
/am
*.vtu
*.pvtu