*~
*.log
src/old_versions/*
*.deps*
*.libs*
src/data/*
src/*.o
src/elliptic_hmm
src/dune_multiscale
src/op
*.svn*
*.pc
*.o*
autom4te.cache*
config.*
configure
aclocal.m4
depcomp
dependencies.m4
*Makefile.in*
*Makefile
*Makefile/*
missing
libtool
ltmain.sh
am*
