build-*/
*~
*.log
src/old_versions/*
*.deps*
*.libs*
*/.*
src/data/test*
src/data/Model_Problem_1/*
src/data/Model_Problem_3/*
src/data/Model_Problem_2/*cell_problems*
src/data/Model_Problem_4/*
src/data/*
src/*.o
src/elliptic_hmm
src/dune_multiscale
src/op
*.svn*
*.pc
*.o*
autom4te.cache*
config.*
configure
aclocal.m4
depcomp
dependencies.m4
*Makefile.in*
*Makefile
*Makefile/*
missing
libtool
ltmain.sh
am*
install-sh 
doc/doxygen/Doxyfile
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
